/**
 * Web Font Imports.
 *
 * NOTE: We need to explicitly import the exact font weights that we plan to use. The less that we
 *  import, the faster initial page load times will be. If we do not import an explicit font weight,
 *  browsers will try to simulate it if/when used (this often results in awful looking text).
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

/**
 * Site-Wide Style Variables.
 */
:root {
    --color-black:                  #222222;
    --color-white:                  #FEFEFE;
    --color-primary:                #222222;
    --color-primary-light:          #333333;
    --color-primary-dark:           #111111;
    --color-twitter:                #1D9BF0;
    --color-discord:                #5865f2;
    --color-itch:                   #FA5C5C;

    --angle-slash:                  -22deg;

    --fixed-nav-opacity:            1.0;
    --fixed-nav-height:             48px;
    --fixed-nav-vertical-space:     8px;
    --fixed-nav-horizontal-space:   32px;

    --one-space:                    4px;
    --two-spaces:                   8px;
    --four-spaces:                  16px;
    --eight-spaces:                 32px;
}