@import url('./root.css');

body {
    color: var(--color-black);
    background-color: var(--color-white);
}

a {
    display: inline-block;
    color: var(--color-primary);
    text-decoration-line: underline;
    text-decoration-style: solid;
}

a:hover {
    filter: brightness(90%);
    color: var(--color-primary);
    text-decoration-line: underline;
    text-decoration-style: double;
}

blockquote {
    border-left: solid var(--one-space) var(--color-primary);
    border-radius: var(--one-space);
    padding-left: var(--four-spaces);
    margin-left: var(--four-spaces);
    margin-right: var(--eight-spaces);
}

#nav {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
}

#fixed-nav-row {
    height: var(--fixed-nav-height);
    padding: var(--fixed-nav-vertical-space) var(--fixed-nav-horizontal-space) var(--fixed-nav-vertical-space) var(--fixed-nav-horizontal-space);
    background: var(--color-white);
    opacity: var(--fixed-nav-opacity);
}

#fixed-nav-row > .columns {
    height: inherit;
    line-height: var(--fixed-nav-height);
    vertical-align: middle;
}

.fixed-nav-links {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

#fixed-nav-links {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
}

.fixed-nav-link {
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-right: 2rem;
}

.fixed-nav-link a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-black);
}

#fixed-nav-hamburger {
    font-size: 2rem;
    text-align: right;
}

#fixed-nav-spacer {
    height: var(--fixed-nav-height);
    background-color: var(--color-white);
}

#dynamic-nav-section {
    display: none;
    padding: 0 2rem 0 2rem;
    background-color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: 500;
}

#dynamic-nav-section a {
    text-decoration: none;
}

#dynamic-nav-section div {
    margin-bottom: 2rem;
}

#dynamic-nav-social-links {
    padding-top: 2rem;
}

#dynamic-nav-social-links {
    text-align: center;
}

#dynamic-nav-social-links a {
    display: inline-block;
    width: 10%;
    text-align: center;
}

#call-to-action-content {
    padding-top: 35vh;
    padding-bottom: 40vh;
}

#call-to-action-content h1 {
    font-size: 2.5rem;
}

#scrolling-target {
    opacity: 0;
    animation-name: scrolling-target-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scrolling-target-animation {
    0%   { opacity: 0; }
    10%  { opacity: 0; }
    50%  { opacity: 1; }
    90%  { opacity: 0; }
    100% { opacity: 0; }
}

#footer-row {
    user-select: none;
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.25rem;
}

#logo-fixed-nav {
    width: auto;
    height: var(--fixed-nav-height);
    pointer-events: none;
}

.section-title {
    margin-bottom: 4rem;
    font-weight: 500;
}

.wide-primary-wrapper a {
    color: var(--color-white);
}

.wide-primary-wrapper {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.wide-wrapper-wave {
    width: 100%;
    height: 64px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.wide-wrapper-wave > svg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wide-wrapper-wave > svg > path {
    stroke: none;
    fill: var(--color-primary);
}

.svg-light svg > path {
    stroke: none;
    fill: var(--color-white);
}

.card {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 4%;
    min-height: 228px;
}

.card a {
    color: var(--color-primary);
}

.card-heading {
    margin-bottom: 2rem;
}

.card-heading > h5 {
    margin-bottom: 0;
}

.card-heading > h6 {
    margin-bottom: 0;
    font-style: italic;
}


/**
 * Skeleton CSS Overrides & Extensions.
 *
 * These are modifications of existing Skeleton CSS classes in order to bring them in line with the
 * branding and theme of this web app.
 */
input:focus, button:focus {
    border-color: var(--color-primary) !important;
}

input[type=button], button {
    border: none;
}

.button-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
}

.button:hover, .button-primary:hover {
    filter: brightness(90%) !important;
}

.button {
    background-color: var(--color-white) !important;
}

/**
 * Utility Classes.
 *
 * These are generic classes that can be applied to practically any element. These augment the
 * utility classes already provided by the Skeleton CSS framework.
 */
.u-light {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    border-color: var(--color-white) !important;
}

.u-primary {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
    border-color: var(--color-primary) !important;
}

.u-twitter {
    background-color: var(--color-twitter) !important;
    color: var(--color-white);
}

.u-discord {
    background-color: var(--color-discord) !important;
    color: var(--color-discord);
}

.u-itch {
    background-color: var(--color-itch) !important;
    color: var(--color-itch);
}

.u-no-select {
    user-select: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

.u-pixel-art {
    image-rendering: pixelated !important;
}

.u-bump-up {
    position: relative;
    top: -2px;
}

.u-bump-down {
    position: relative;
    top: 2px;
}

.u-hidden {
    display: none;
}

.u-round-border {
    border-radius: 4px;
}

/* Mobile-Only Styles.
 *
 * This is a mobile-first webstie. As such, most styles that apply to mobile devices (screens
 * smaller than a phablet) should NOT be specified in this block – it only exists for some special
 * cases to simplify logic.
 */
 @media (max-width: 550px) {

    .u-desktop-only {
        display: none !important;
    }

}


/* Desktop-Only Styles.
 *
 * The styles inside of this block can be described as targetting screens that are larger than a
 * phablet. The Skeleton CSS framework's grid breaks at 550px by default.
 */
@media (min-width: 550px) {

    #call-to-action-content {
        padding-top: 40vh;
        padding-bottom: 40vh;
    }

    #call-to-action-content h1 {
        font-size: 5rem;
    }

    .card {
        min-height: 284px;
    }

    .u-mobile-only {
        display: none !important;
    }

}